<div class="has-text-centered" id="blogbox">
    <div class="columns mt-4">
        <div class="column">
            <form class="form edit-comment-form">
                <div class="field">
                <label class="label h2 is-size-3 has-text-weight-bold" for="blog-desc">Edit comment:<span id="blog_id">{{id}}</span></label>
                <div class="control">
                    <textarea class="textarea" id="comment" name="blog-desc">{{comment.comment}}</textarea>
                </div>
                </div>
                <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button navheader is-size-5 custom-box">Edit</button>
                </div>
                <div class="control">
                    <button class="button navheader is-size-5 custom-box" id="delete-comment" data-id="{{comment.id}}">Delete</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>