
:root {
    --hnf_bgc:#363c58;
    --hnf_text: #F7C100;
    --main_bgc: #3f4773;
    --main_text: #f6f6f8;
    --box_bgc: #555e8a;
    --boxview_bgc: #0e7a0d;
    --boxeview_hbgc: #0b620a;
    --boxedit_bgc: #3f4773;
    --boxedit_hbgc: #32395c;
    --boxdel_bgc: #800000;
    --boxdel_hbgc: #541a1a;
}

.hnf {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--hnf_text);
    background-color: var(--hnf_bgc);
}

.h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--hnf_text);
    
}
.navheader {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--main_text);
    background-color: var(--hnf_bgc);
}
.custom-box {
    background-color: var(--main_bgc);
    border-radius: 4px;
    padding: 10px;
    
}
.custom-box:hover {
    background-color: var(--hnf_text);
    border-radius: 4px;
    padding: 10px;
    
}
.custom-box-view {
    background-color: var(--boxview_bgc);
    /* border-radius: 4px;
    padding: 10px; */
    
}
.custom-box-view:hover {
    background-color: var(--boxeview_hbgc);
    /* border-radius: 4px;
    padding: 10px; */
    color: var(--main_text);
    
}
.custom-box-edit {
    background-color: var(--boxedit_bgc);
    /* border-radius: 4px;
    padding: 10px; */
    
}
.custom-box-edit:hover {
    background-color: var(--boxedit_hbgc);
    /* border-radius: 4px;
    padding: 10px; */
    color: var(--main_text);
    
}
.custom-box-del {
    background-color: var(--boxdel_bgc);
    /* border-radius: 4px;
    padding: 10px; */
    
}
.custom-box-del:hover {
    background-color: var(--boxdel_hbgc);
    /* border-radius: 4px;
    padding: 10px; */
    color: var(--main_text);
    
}

.main {
    flex: 1;
    background-color: var(--main_bgc);
    font-family: 'Josefin Slab', serif;
    color: var(--hnf_text)
}
.footer {
    margin-top: auto;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.centered-buttons {
    display: flex;
    justify-content: center;
}


#blogbox {
    border: solid ;
    margin: 50px 20px 20px 20px;
    padding: 30px 30px 30px 30px;
    background-color: var(--box_bgc);
}

hr {
    background-color: var(--main_text);
}

.custom-text-right {
    text-align: right;
}